.taskContainer {
    margin-bottom: 32px;

    .innerContainer {
        flex-direction: column;
        display: flex;
        gap: 8px;
    }
}

.actions {
    display: flex;
    flex-direction: column;
    gap: 4px;
    // transform: translateY(-4px);
    opacity: 0.5;
    transition: opacity 0.2s;

    &:hover {
        opacity: 1;
    }

    button {
        background-color: transparent;
        border: none;
        color: #8798ab;
        outline: none;
        font-size: 18px;
        transition: background-color 0.2s;
        width: 32px;
        height: 32px;

        &:hover {
            background-color: var(--border);
        }
    }
}

.taskItem {
    padding: 16px;
    background-color: white;
    border: 1px solid var(--border);
    display: grid;
    grid-template-columns: min-content 1fr 128px;
    gap: 16px;

    .thumbnail {
        border: 1px solid var(--border);
        max-height: 160px;
        align-self: stretch;
        position: relative;
        background: none;
        outline: none;
        display: block;

        img {
            object-fit: cover;
            height: 100%;
        }

        .moreImages {
            display: flex;
            opacity: 0;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba($color: #000000, $alpha: 0.34);
            color: white;
            font-weight: 600;
            align-items: center;
            justify-content: center;
            font-size: 1.3rem;
            user-select: none;
            transition: opacity 0.1s ease-in-out;
        }

        &:hover .moreImages {
            opacity: 1;
        }
    }

    &.checked {
        opacity: 0.66;
        transition: opacity 0.3s ease-in-out;

        &:hover {
            opacity: 1;
        }

        p {
            text-decoration: line-through;
        }
    }

    p {
        margin: 0;
    }

    .content {
        align-self: stretch;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 8px;
    }
}
