.header {
    --height: 96px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    border-bottom: 2px solid var(--border);
    height: var(--height);
    z-index: 20;

    @media screen and (max-width: 570px) {
        --height: 64px;
    }

    > div {
        display: flex;
        align-items: center;
        height: var(--height);
    }

    h1 {
        font-weight: 700;
        flex: 1;
        margin: 0;

        a {
            color: inherit;
            text-decoration: inherit;
        }
    }

    nav {
        background-color: #e8eaf0;
        padding: 4px;
        display: flex;
        gap: 4px;

        a {
            display: block;
            text-decoration: none;
            text-transform: capitalize;
            color: var(--text);
            padding: 4px 8px;
            opacity: 0.7;
            transition: all 0.2s;

            &.active {
                opacity: 1;
                background-color: white;
            }
        }
    }
}
