.section {
    h2 {
        font-size: 14px;
        color: #3f4c5a;
        text-transform: uppercase;
        letter-spacing: 0.84px;
    }

    .card {
        background-color: white;
        border: 1px solid var(--border);
    }
}
