.section {
    h2 {
        font-size: 14px;
        color: #3f4c5a;
        text-transform: uppercase;
        letter-spacing: 0.84px;

        .subtitle {
            margin-left: 8px;
            color: var(--grey);
            font-weight: 400;
        }
    }

    .list {
        margin: 0;
        padding: 0;
    }

    .card {
        background-color: white;
        border: 1px solid var(--border);
    }
}
