.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba($color: #000000, $alpha: 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
    // padding-top: 64px;

    .modal {
        width: 500px;
        background-color: white;
        border: var(--border);
        padding: 16px;
        max-width: calc(100% - 32px);

        h1 {
            $size: 1rem;
            margin: 0;
            font-size: $size;
            font-weight: 500;
            text-transform: uppercase;
            letter-spacing: calc(0.045 * $size);
            margin-bottom: 24px;
            position: relative;

            &::after {
                position: absolute;
                bottom: -4px;
                left: 0;
                content: "";
                display: block;
                height: 2px;
                background-color: var(--primary);
                width: 40px;
            }
        }

        input[type="checkbox"] {
            display: none;
        }

        input[type="text"] {
            background-color: rgb(249, 249, 249);
            outline: none;
            border: 1px solid var(--border) !important;
        }

        .content {
            display: flex;
            flex-direction: column;
            gap: 8px;
            margin-bottom: 16px;

            label,
            input[type="text"] {
                padding: 4px 8px;
                font-size: 14px;
                text-transform: uppercase;
                font-weight: 500;
                letter-spacing: 0.91px;
                user-select: none;
                display: flex;
                align-items: center;
                gap: 8px;
                box-sizing: border-box;
                border: 1px solid transparent;

                :global(.name) {
                    flex: 1;
                }

                .uncheckIcon {
                    opacity: 0.5;
                }

                &.checked {
                    background-color: var(--border);
                    border: 1px solid var(--border);
                }

                button {
                    border: none;
                    background-color: rgba($color: #000000, $alpha: 0.07);
                }
            }
        }

        footer {
            display: flex;
            align-items: flex-end;

            span {
                flex: 1;
                opacity: 0.66;
            }
        }
    }
}

.catInput {
    display: flex;
    gap: 16px;
    > :first-child {
        flex: 1;
    }
}
